<main>
  <i class='bi bi-emoji-heart-eyes-fill'></i>

  <i class='bi bi-emoji-sunglasses-fill'></i>

  <i class='bi bi-facebook'></i>

  <button><i class='bi bi-instagram'></i></button>

  <i
    class='fa-brands fa-instagram fa-bounce'
    style='color: #e60505;'
  ></i>
</main>