<main>
    <h1 class="text-center text-uppercase">Hello World</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3 class="text-capitalize">3 title one title</h3>

    <hr>
    
    <div class="card">
        <div class="card-body">
            <div class="display-1 text-muted">Hello World</div>
            <div class="display-5">Second</div>
            <div class="display-6">3 title</div>
        </div>
    </div>

    <hr>

    <div class="text-muted text-end">
        Додатковий текст
    </div>

    <hr>

    <div class="card">
        <div class="card-body">
            <button class="btn btn-success">Button</button>

            <button class="btn btn-primary">Button</button>

            <button class="btn btn-danger">Button</button>

            <button class="btn btn-warning">Button</button>

            <button class="btn btn-secondary">Button</button>

            <button class="btn btn-info">Button</button>

            <button class="btn btn-light">Button</button>

            <button class="btn btn-dark">Button</button>
        </div>
    </div>
    <br>

    <p class="text-info">text</p>

    <p class="text-secondary">TEXT</p>

    <hr>

    <button class="btn btn-outline-primary btn-lg">to add</button>
    
    <button class="btn btn-outline-secondary">Edit</button>

    <button class="btn btn-outline-danger btn-sm">Delete</button>

    <hr>

    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>
</main>