<main>
    <div class="row gy-5">
        <section class="col-12">
            <div class="card">
                <img class="card-img-top" src="https://picsum.photos/400/200" alt="produkt photo">
                <div class="card-body">
                    <h5 class="card-title text-bg-primary">Produkt №12934</h5>
                    <div class="text-bg-secondary">Ноутбук ASUS TUF Gaming A15 (2023) FA507NV-LP031</div><br>
                    <a href="/task22" class="btn btn-outline-primary">Open</a>
                </div>
            </div>
        </section>

        <section class="col-3">
                    <div class="card text-bg-warning">
                <div class="card-header">
                    <h5 class="card-title">Menu</h5>
                </div>
                <ul class="list-group">
                    <li class="list-group-item text-bg-info"><a href="/facebook">Home page</a></li>
                    <li class="list-group-item text-bg-secondary"><a href="/skills">Skills page</a></li>
                    <li class="list-group-item text-bg-success"><a href="/summary">Summary page</a></li>
                </ul>
                
                <div class="card-footer">
                    <button class="btn btn-dark btn-sm">Update list</button>
                </div>
            </div>
        </section>

        <section class="col-9">
            <table class="table table-striped table-bordered text-bg-info">
                <thead>
                    <tr>
                        <th>#id</th>
                        <th>name</th>
                        <th>age</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th>1</th>
                        <td>Jon</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Sofia</td>
                        <td>27</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>Tim</td>
                        <td>30</td>
                    </tr>
                    
                </tbody>
            </table>
        </section>

        <section class="col-12">
            <div class="row gx-5 gy-1">
                <div class="row gx-2 gy-3">
        <div class="col-3">
            <div class="card text-bg-success">
            <div class="card-header text-center">header</div>
            <div class="card-body text-center">
                <h6 class="card-title">This is title</h6>
                <div>box good and ...</div><br>
                <button class="btn btn-outline-light">Click!</button>
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
        </div>

        <div class="col-3">
            <div class="card text-bg-success">
            <div class="card-header text-center">header</div>
            <div class="card-body text-center">
                <h6 class="card-title">This is title</h6>
                <div>box good and ...</div><br>
                <button class="btn btn-outline-light">Click!</button>
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
        </div>

        <div class="col-6">
            <div class="card text-bg-success">
            <div class="card-header text-center">header</div>
            <div class="card-body text-center">
                <h6 class="card-title">This is title</h6>
                <div>box good and ...</div><br>
                <button class="btn btn-outline-light">Click!</button>
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
        </div>

        <div class="col-6">
            <div class="card text-bg-success">
            <div class="card-header text-center">header</div>
            <div class="card-body text-center">
                <h6 class="card-title">This is title</h6>
                <div>box good and ...</div><br>
                <button class="btn btn-outline-light">Click!</button>
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
        </div>

        <div class="col-6">
            <div class="card text-bg-success">
            <div class="card-header text-center">header</div>
            <div class="card-body text-center">
                <h6 class="card-title">This is title</h6>
                <div>box good and ...</div><br>
                <button class="btn btn-outline-light">Click!</button>
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
        </div>

        <div class="col-6">
            <div class="card text-bg-success">
            <div class="card-header text-center">header</div>
            <div class="card-body text-center">
                <h6 class="card-title">This is title</h6>
                <div>box good and ...</div><br>
                <button class="btn btn-outline-light">Click!</button>
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
        </div>

        <div class="col-6">
            <div class="card text-bg-success">
            <div class="card-header text-center">header</div>
            <div class="card-body text-center">
                <h6 class="card-title">This is title</h6>
                <div>box good and ...</div><br>
                <button class="btn btn-outline-light">Click!</button>
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
        </div>

        <div class="col-6">
            <div class="card text-bg-success">
            <div class="card-header text-center">header</div>
            <div class="card-body text-center">
                <h6 class="card-title">This is title</h6>
                <div>box good and ...</div><br>
                <button class="btn btn-outline-light">Click!</button>
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
        </div>

        <div class="col-6">
            <div class="card text-bg-success">
            <div class="card-header text-center">header</div>
            <div class="card-body text-center">
                <h6 class="card-title">This is title</h6>
                <div>box good and ...</div><br>
                <button class="btn btn-outline-light">Click!</button>
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
        </div>

        <div class="col-6">
            <div class="card text-bg-success">
            <div class="card-header text-center">header</div>
            <div class="card-body text-center">
                <h6 class="card-title">This is title</h6>
                <div>box good and ...</div><br>
                <button class="btn btn-outline-light">Click!</button>
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
        </div>

        <div class="col-6">
            <div class="card text-bg-success">
            <div class="card-header text-center">header</div>
            <div class="card-body text-center">
                <h6 class="card-title">This is title</h6>
                <div>box good and ...</div><br>
                <button class="btn btn-outline-light">Click!</button>
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
        </div>

        <div class="col-6">
            <div class="card text-bg-success">
            <div class="card-header text-center">header</div>
            <div class="card-body text-center">
                <h6 class="card-title">This is title</h6>
                <div>box good and ...</div><br>
                <button class="btn btn-outline-light">Click!</button>
            </div>
            <div class="card-footer text-center">Footer</div>
        </div>
        </div>
    </div>
            </div>
        </section>
    </div>
    
    <br><br><br>

    {{!-- <div class="card text-bg-success">
        <div class="card-header text-center">header</div>
        <div class="card-body text-center">
            <h6 class="card-title">This is title</h6>
            <div>box good and ...</div><br>
            <button class="btn btn-outline-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
    </div> --}}

    <br><br><br>
</main>