<main>
  <i class='bi bi-emoji-heart-eyes-fill'></i>

  <i class='bi bi-emoji-sunglasses-fill'></i>

  <i class='bi bi-facebook'></i>

  <button><i class='bi bi-instagram'></i></button>

  <a
    class='btn btn-warning'
    href='https://www.instagram.com/'
  ><i
      class='fa-brands fa-instagram fa-bounce fa-lg'
      style='color: #e60505;'
    ></i></a>

  <a
    class='btn btn-primary'
    href='https://www.facebook.com/'
  ><i
      class='fa-brands fa-facebook fa-flip fa-lg'
      style='color: #ffffff;'
    ></i></a>
</main>