{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}
<div class='row mt-5'>
  <h2 class='col-6'>Кисіль Тимофій</h2>
  <h2 class='col-6 text-end'>Resume project</h2>

  <h1 class='mt-5'>Список сторінок</h1>

  <p>iT BRAINS - Навчання</p>

  <nav>
    <a
      class='btn btn-primary m-2'
      href='/summary'
    >Summary</a>
    <a class='btn btn-primary' href='/skills'>Skills</a>
    <a
      class='btn btn-primary'
      href='/education'
    >Education</a>
    <a class='btn btn-primary' href='/work'>Work</a>
    <a class='btn btn-primary' href='/person'>Person</a>
    <a class='btn btn-primary' href='/js'>JS</a>
    <a class='btn btn-primary' href='/car'>Car</a>
    <a class='btn btn-primary' href='/mac'>Mac</a>
    <a class='btn btn-primary' href='/facebook'>Facebook</a>
    <a
      class='btn btn-primary'
      href='/bootstrap'
    >Bootstrap</a>
    <a class='btn btn-primary' href='/task21'>task21</a>
    <a class='btn btn-primary' href='/task22'>task22</a>
    <a
      class='btn btn-primary'
      href='/bootstrap2'
    >Bootstrap2</a>
    <a class='btn btn-primary' href='/task31'>task31</a>
    <a
      class='btn btn-primary'
      href='/bootstrap3'
    >Bootstrap3</a>
    <a class='btn btn-primary' href='/shophome'>ShopHome</a>
    <a
      class='btn btn-primary'
      href='/bootstrap4'
    >Bootstrap4</a>
    <a
      class='btn btn-primary'
      href='/shoporder'
    >Shoporder</a>
    <a
      class='btn btn-primary m-2'
      href='/bootstrap5'
    >Bootstrap5</a>
    <a class='btn btn-primary' href='/shopcart'>Shopcart</a>
    <a
      class='btn btn-primary'
      href='/shopreview'
    >Shopreview</a>
    <a class='btn btn-primary' href='/bootcss'>Boot-CSS</a>
  </nav>
</div>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}