<div class="col-12">
  <div class="nav nav-tabs">
    <div class="nav-item">
      <a href="#" class="nav-link active">Main</a>
    </div>

    <div class="nav-item">
      <a href="#" class="nav-link disabled">Catalog</a>
    </div>

    <div class="nav-item">
      <a href="#" class="nav-link">Shop list</a>
    </div>
  </div>
</div>
