<nav>
    {{> link text="Summary" href="/summary" line=true }} 
    {{> link text="Skills" href="/skills" line=true }}
    {{> link text="Education" href="/education" line=true }}
    {{> link text="Work" href="/work" line=true }}
    {{> link text="Person" href="/person" line=true}}
    {{> link text="JS" href="/js" line=true}}
    {{> link text="Car" href="/car" line=true}}
    {{> link text="Mac" href="/mac" line=true}}
    {{> link text="Facebook" href="/facebook" line=true}}
    {{> link text="task21" href="/task21" line=true noLine=true}}
</nav>